# Environment variables
.env

# Python virtual environment
venv/
env/
ENV/
# Virtual environment
myenv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE settings
.vscode/
.idea/

# Local development settings
*.log
.DS_Store
test.py
update_players.py
fake_game.py
fake_game_reader.py
inning_gen.py
inning_read.py
parquet_reader.py
read_specific_parquet.py


# Virtual environment
venv/

# Environment variables and secrets
*.env